<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakta Kocheng!!!</title>
    <!-- Tailwind -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <style>
        body {
            background-color: #f3f4f6;
            background-size: cover;
            background-position: center;
            background-image: url('static/images/hello-cat.gif'); /* Gambar default */
        }
    </style>
</head>

<body class="h-screen flex justify-center items-center">
    <div class="max-w-xl mx-auto p-8 bg-white bg-opacity-75 rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4">Fakta Kucing</h1>
        <p id="factDisplay" class="text-lg text-gray-700 mb-6 max-w-sm">Klik tombol di atas untuk melihat fakta kucing!</p>
        <button id="fetchButton" class="bg-blue-500 text-white px-4 py-3 rounded-md mb-4">Dapatkan Fakta Kucing</button>
    </div>
</body>

</html>
